#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

sass_options = {
  :syntax => :scss,
  :cache_location =>"./tmp/sass-cache",
  #:style => :expanded # debug only
  :style => :compressed
}

compile '*' do
  case item[:extension]
  when 'md'
    filter :erb
    filter :kramdown, :toc_levels => [2]
    filter :colorize_syntax
    layout 'default'
  when 'scss'
    filter :sass, sass_options
  else
    # nothing special, only copy
  end
end

route '*' do
  case item[:extension]
  when 'md'
    item.identifier + 'index.html'
  when 'scss'
    # rename to .css
    item.identifier.chop + '.css'
  else
    # itemname.extension
    item.identifier.chop + '.' + item[:extension]
  end
end

layout '*', :erb
