
// Mixins from bourbon
@mixin prefixer ($property, $value,
                 $webkit: true,
                    $moz: true,
                     $ms: false,
                      $o: false,
                   $spec: true) {
  @if $webkit { -webkit-#{$property}: $value; }
  @if $moz    {    -moz-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Global styles

html {
  font-size: 10px;
  font-size: 62.5%;
}
body {
  margin: 0 5px;
  padding: 0;
  color: #333;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;

  background-color: #ededed;
  background-image: url("fbg.png");
}
$header-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: $header-font;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  margin: 1.2em 0 .5em;
}
h1 { margin-top: 8px; }
h2 {
  font-size: 21px;
  font-size: 2.1rem;
  margin: 1.4em -20px 1em;
  padding: .6em 20px 0;
  border-top: 1px solid #ccc;
}
h3 {
  font-size: 14px; font-size: 1.4rem;
  font-weight: bold;
  margin: 1.1em 0 .3em;
}
h4 {
  font-size: 13px; font-size: 1.3rem;
  font-weight: bold;
}
h5 { font-size: 13px; font-size: 1.3rem; }

small {
  font-size: .7em;
  font-family: sans-serif;
  font-weight: normal;
}
b, strong { font-weight: bold; }
i, em { font-style: italic; }
p { margin: 0 0 15px 0; }

ul, ol { @extend p;
  padding-left: 2.5em;
}
ul { list-style: circle; }
ol { list-style: decimal; }
hr { border: none; border-top: 1px solid #ccc; }
dl { @extend p;
  padding-left: 1em;

  dt { font-family: $header-font; }
  dd { margin: 1px 0 10px 20px; }
}
code, pre {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }
code {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 0 2px;
  border-radius: 2px;
}
pre { @extend p;
  overflow: auto;
  // border-radius: 2px;
  code { display: block; padding: 3px 5px 2px; }
}
address { @extend p; }

$link-color: #2941B4 !default;
a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:active {
    color: darken($link-color, 15%);
    text-decoration: underline;
    cursor: pointer;
  }
}

#markdown-toc {
  list-style-type: disc;
  margin: 1.5em;
  padding: 0;

  li { line-height: 1.7em; }
}

// Layout

#wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  min-width: 700px;
  width: 98%;
}

header#header { @extend #wrapper;
  padding: 10px 0px;
  background-image: url("hbg.png");
  @include clearfix;
  @include prefixer(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.4), webkit, not moz);

  h1 {
    text-shadow: 0 1px 1px #aaa;

    font-size: 230%;
    float: left;
    padding: 5px 0 5px 15px;
    margin: 0;
    min-height: 26px;

    a {
      color: #333;

      &:hover, &:active {
        text-decoration: none;
      }
    }

    span {
      a {
        color: #2941B4;
      }
      &:after {
        content: " | ";
        color: #999;
      }
    }
  }

  nav ul {
    list-style: none;
    float: right;
    padding: 0 15px 0 0;
    margin: 13px 0 0;

    li {
      float: left;

      a {
        display: block;
        padding: 4px 15px;
        border-left: 1px solid #fff;
        border-right: 1px solid #ccc;
        text-shadow: 0 1px 2px #aaa;

        &.current {
          font-weight: bold;
        }
      }

      &:first-child a {
        border-left: none;
      }
      &:last-child a {
        border-right: none;
      }
    }
  }
}

section#section {
  margin: 16px 236px 0 0;
  padding: 10px 20px;
  background-color: #fff;
  @include clearfix;
  @include prefixer(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.4), webkit, not moz);

  h1 {
    margin: -10px -20px 20px -20px;
    padding: 12px 15px 11px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-shadow: 0 1px 1px #aaa;
    background-image: url("hbg.png");

    @include clearfix;
    @include prefixer(box-shadow, 0 2px 2px rgba(0, 0, 0, 0.05), webkit, not moz);
  }

  > pre {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    //@include prefixer(box-shadow, 0 0 2px rgba(0, 0, 0, 0.15), webkit, not moz);

    code {
      border: none;
      padding: 0;
      background-color: transparent;
    }

    &.terminal {
      color: #eee;
      background-color: #333;
      margin-bottom: 0;

      + pre.highlight, + pre.headers {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.headers {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
      background-image: url("hbg.png");

      + pre.highlight {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.highlight {
      // border-radius: 2px;
      margin-top: 0;
    }
  }
}

aside {
  position: absolute;
  top: 0;
  right: 0;

  float: right;
  width: 220px;

  background: #fff;
  @include prefixer(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.4), webkit, not moz);

  h2 {
    margin: 0;
    padding: 10px 15px 9px 15px;
    background-image: url("hbg.png");
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    @include clearfix;
    @include prefixer(box-shadow, 0 2px 2px rgba(0, 0, 0, 0.05), webkit, not moz);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      h3 {
        margin: 0;
      }

      a {
        font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: block;
        padding: 10px 15px 10px 15px;
        color: #333;
        font-weight: bold;
        border-top: 1px solid #ddd;
        @include prefixer(transition, background-color .2s ease-in-out, webkit, moz);

        &:hover {
          text-decoration: none;
          background-color: #efefef;
          @include prefixer(transition, background-color .2s ease-in-out, webkit, moz);
        }
      }

      li a { padding-left: 35px; }
      li li a { padding-left: 55px; }
    }
  }
}

footer#footer {
  color: #aaa;
  padding: 10px;

  font-size: 11px;
  font-size: 1.1rem;
  text-align: left;
  text-shadow: 0 1px 1px #fff;

  a {
    color: #aaa;
    &:hover {
      color: #555;
    }
  }
}

// Alerts

$alert: #333 !default;
$alert-bg: lighten(#ccc, 19%) !default;
$alert-border: darken(#ccc, 10%) !default;
$alert-error: #B94A48 !default;
$alert-error-bg: #F2DEDE !default;
$alert-error-border: darken($alert-error-bg, 20%) !default;
$alert-warning: #C09853 !default;
$alert-warning-bg: #FCF8E3 !default;
$alert-warning-border: darken($alert-warning-bg, 30%) !default;
$alert-notice: darken(#465088, 15%) !default;
$alert-notice-bg: #D8D9F0 !default;
$alert-notice-border: darken($alert-notice-bg, 30%) !default;


@mixin alert($color, $bg, $border) {
  @extend p;
  // @include prefixer(box-shadow, 0 0 2px rgba(0, 0, 0, 0.2), webkit, not moz);
  color: darken($color, 30%);
  padding: 8px 32px 8px 33px;
  background-color: $bg;
  background-position: 9px 9px;
  background-repeat: no-repeat;
  border: 1px solid $border;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.alert {
  background-image: url(comment.png);
  @include alert($alert, $alert-bg, $alert-border); }
.alert-error {
  background-image: url(exclamation.png);
  @include alert($alert-error, $alert-error-bg, $alert-error-border); }
.alert-notice {
  background-image: url(information.png);
  @include alert($alert-notice, $alert-notice-bg, $alert-notice-border); }
.alert-warning {
  background-image: url(error.png);
  @include alert($alert-warning, $alert-warning-bg, $alert-warning-border); }
