<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @item[:title] %></title>

  <link rel="stylesheet" type="text/css" href="/coderay.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <header id="header">
    <h1>
      <span>
        <a href="http://doc.openmensa.org/">Doc</a>
      </span>
      <a href="http://openmensa.org/">OpenMensa</a>
    </h1>
    <%= render 'nav' %>
  </header>
  <div id="wrapper">
    <section id="section">
      <%= yield %>
    </section>
    <aside>
      <%= render sidebar_identifier %>
    </aside>
    <footer id="footer">
      © 2019 <a href="http://openmensa.org">OpenMensa</a>
      &nbsp;&middot;&nbsp;
      <a href="http://openmensa.org/impressum">Impressum</a>
      &nbsp;&middot;&nbsp;
      <a href="http://blog.altimos.de/category/openmensa">Blog</a>
      &nbsp;&middot;&nbsp;
      <a href="http://doc.openmensa.org">Developer</a>
      &nbsp;&middot;&nbsp;
      License: <a href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Attribution/Share Alike</a>
    </footer>
  </div>
</body>
</html>
